.env
.env.*
!.env.example
*.db
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
*.egg-info/
.eggs/
dist/
build/
static/uploads/*
!static/uploads/.gitkeep
*.exe
*.exe-*
edb_*
pemhttpd*
postgresql_*
*.log
.idea/
.vscode/
*.sqlite3
instance/
